@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '' {
		#{$prefix}#{$prop}: $val;
	}
}

$roboto: Roboto;
$indie: Indie Flower;

$title: $roboto;
$content: $indie;

//Colors
$gray: #404040;
$red: #fe1662;
$blue: #2b2e48;

$background: $blue;// #ffc600;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $background;
  color: white;
}

.container {
  max-width: 80%;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  @include prefix(box-shadow, 10px 10px 0 rgba(0, 0, 0, 0.1));
  background-color: darken($blue, 10%);
  position: relative;
  line-height: 3rem;
}

.title h1{
  font-family: $title;
  text-align: center;
}
.content {
  display: block;
  padding: 1rem 2rem 1rem 5rem;
  font-family: $content;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0 10px;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  background-color: lighten($blue, 10%);
  border-radius: 0 0 5px 5px;
  p{
    display: inline-block;
  }
}

.btn{
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
	padding: 5px 15px;
	text-decoration: none;
	background: transparent;
	border: 2px solid lighten($red, 10%);
	color: lighten($red, 10%);
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.5em;
	@include prefix(border-radius, 5px);
	@include prefix(transition, background .3s ease);
	@include prefix(transition, color .3s ease);
	@include prefix(box-shadow, 3px 3px 0 lighten($red, 10%));

	&:hover {
		box-shadow: none ;
		top: 2px;
    left: 2px;
    color: white;
    background: lighten($red, 10%);
		@include prefix(box-shadow, 2px 2px 0 transparent);
  }
  
  &:focus{
    outline: 0;
  }

  & a{
    color:lighten($red, 10%);
    &:hover{
      color: white;
    }
  }
}
.author {
  font-family: $title;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .container{
    width: 100%;
    max-width: 100%;
    margin: 0px;
  }

  .content{
    padding: 1rem;
    font-size: 2em;
    margin: 0;
  }  
  .details{
    display: block;
    text-align: center
  }
  .btn{
    display: block;
    margin: 10px auto;
  }

  .author{
    font-size: 1rem;
  }
}

//sass --watch style.scss:style.css
